:root {
  --bg-main: #030712;
  --glass-bg: rgba(255, 255, 255, 0.05);
  --glass-border: rgba(59, 130, 246, 0.25);

  --blue-main: #3b82f6;
  --blue-light: #60a5fa;

  --text-main: #e0f2fe;
  --text-muted: #93c5fd;

  --radius-lg: 18px;
}
